<div *ngIf="todayStats!=null" class="today-util">
  <div class="ui statistic">
    <div class="label">
      Current Headcount:
    </div>
    <div class="value">
      {{todayStats[0].count}}
    </div>
  </div>
</div>
<div class="ui feed two column doubling stackable grid">
  <div class="three wide column">
    <h1>Today's History</h1>
    <div *ngFor="let s of todayStats" class="event">
      <div class="label">
      </div>
      <div class="content">
        <div class="summary">
          <a class="user">
          Headcount: 
        </a> {{s.count}}
          <div class="date">
            {{s.date | dateFormat}}
          </div>
          <br/>
        </div>
      </div>
    </div>
  </div>
  <div class="thirteen wide column">
    <chart [type]="type" [data]='data' [options]="options"></chart>
  </div>
  <!--
  <h1>This Week</h1>
  <div *ngFor="let s2 of thisWeekStats" class="event">
    <div class="label">
    </div>
    <div class="content">
      <div class="summary">
        <a class="user">
          {{s2.loc}}
        </a> {{s2.count}}
        <div class="date">
          {{s2.date | dateFormat}}
        </div>
      </div>
    </div>
  </div>
  <h1>Last Week</h1>
  <div *ngFor="let s3 of lastWeekStats" class="event">
    <div class="label">
    </div>
    <div class="content">
      <div class="summary">
        <a class="user">
          {{s3.loc}}
        </a> {{s3.count}}
        <div class="date">
          {{s3.date | dateFormat}}
        </div>
      </div>
    </div>
  </div>
  -->
</div>