<h2 id="maintitle">{{title}}</h2>

<!-- Today Bar ===============================================================================-->
<div *ngIf="todayStats!=null && hoursService.isOpen && todayStats.length>0" class="today-util">
  <div id="today-bar" [@enterAnimation]="show" *ngIf="todayStats[0].count>=0" class="ui">
    <div *ngIf="TD1.length > 2" class="ui tiny statistic beforeFact">
      <div *ngIf="TD1[TD1.length-3].y>=0" class="mysize">
        {{TD1[TD1.length-3].y}}
      </div>
      <div *ngIf="TD1[TD1.length-3].y==-2" class="mysize">
        IMS
      </div>
      <div class="label">
        {{TD1[TD1.length-3].x | dateFormat:"fromNow"}}
      </div>
    </div>
    <div *ngIf="TD1.length > 1" class="ui small statistic beforeFact">
      <div *ngIf="TD1[TD1.length-2].y>=0" class="mysize">
        {{TD1[TD1.length-2].y}}
      </div>
      <div *ngIf="TD1[TD1.length-2].y==-2" class="mysize">
        IMS
      </div>
      <div class="label">
        {{TD1[TD1.length-2].x | dateFormat:"fromNow"}}
      </div>
    </div>
    <div *ngIf="TD1.length > 0" class="ui violet statistic fact">
      <div *ngIf="TD1[TD1.length-1].y > 0" class="mysize">
        {{TD1[TD1.length-1].y}}
      </div>
      <div *ngIf="TD1[TD1.length-1].y == 0" class="mysize">
        0
      </div>
      <div *ngIf="TD1[TD1.length-1].y ==-2" class="mysize">
        IMS
      </div>
      <div class="label">
        {{TD1[TD1.length-1].x | dateFormat:"fromNow"}}
      </div>
    </div>
    <div *ngIf="nxtProject!=null && nxtProject.length > 1" class="ui small statistic afterFact">
      <div *ngIf="nxtProject[1].count>=0" class="mysize">
        {{nxtProject[1].count}}
      </div>
      <div *ngIf="nxtProject[1].count==-2" class="mysize">
        IMS
      </div>
      <div class="label">
        In {{nxtProject[1].date | dateFormat:"fromNowT"}}
      </div>
    </div>
    <div *ngIf="nxtProject!=null  && nxtProject.length > 2" class="ui tiny statistic afterFact">
      <div *ngIf="nxtProject[2].count>=0" class="mysize">
        {{nxtProject[2].count}}
      </div>
      <div *ngIf="nxtProject[2].count==-2" class="mysize">
        IMS
      </div>
      <div class="label">
        In {{nxtProject[2].date | dateFormat:"fromNowT"}}
      </div>
    </div>
  </div>
</div>
<div id="closed" class="week-info" *ngIf="!hoursService.isOpen">
    <i class="remove circle icon"></i>
    <h2>Currently Closed</h2>
</div>
<!-- Today Chart ======================================================================================== -->
<div *ngIf="todayStats!=null" id="today-info">
  <div>
    <h2 *ngIf="hoursService.realtionToClose != 'before' || mobile" class="title-bar">Today : {{dayOfWeek}}</h2>
    <h2 *ngIf="hoursService.realtionToClose == 'before' && !mobile" class="title-bar">Projected for Today : {{dayOfWeek}}</h2>
    <div class="ui two column row doubling stackable grid ">
      <!-- Histoty List -->
      <div class="three wide column" id="threewide">
        <div *ngIf="!mobile" class="lBox">
          <h3 class="topper">Legend</h3>
          <div class="lline">
            <strong>Current</strong>
            <div id="box1" class="legend"></div>
          </div>
          <div class="lline">
            <strong>Projected</strong>
            <div id="box2" class="legend"></div>
          </div>
        </div>
        <div *ngIf="hoursService.realtionToClose != 'before'" class="hbox">
          <h3 class="topper">History</h3>
          <div id="today-info-text" class="scrollX">
            <div *ngFor="let s of TD1R">
              <div>
                <strong *ngIf="s.y>=0" [ngClass]="{under100: s.y<100}" class="count">{{s.y}}</strong>
                <strong *ngIf="s.y==-2" class="count">IMS</strong>
                <span class="at">@</span>
                <span class="date">
                {{s.x | dateFormat:"h:mm a"}}
              </span>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="mobile" class="lBox">
          <h3 class="topper">Legend</h3>
          <div class="lline">
            <strong>Current</strong>
            <div id="box1" class="legend"></div>
          </div>
          <div class="lline">
            <strong>Projected</strong>
            <div id="box2" class="legend"></div>
          </div>
        </div>
      </div>
      <!-- Today Graph -->
      <div class="thirteen wide column">
        <div class="mobChart">
          <chart *ngIf="thisTimeLastWeek!=null && todayStats!=null" [type]="type" [data]='daydata' [options]="dayoptions"></chart>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Projected Section -->
<div *ngIf="lastWeekStats != null" [@enterAnimation]="show" class="thirteen wide column" class="week-info">
  <h2 class="title-bar" *ngIf="!mobile">Projected for Tomorrow : {{dayOfWeekT}}</h2>
  <h2 class="title-bar" *ngIf="mobile">Tomorrow : {{dayOfWeekT}}</h2>
  <div class="mobChart mobChartmargin">
    <chart [type]="type" [data]='tomorrowdata' [options]="tomorrowoptions"></chart>
  </div>
</div>
<!-- Week Section-->
<div *ngIf="thisWeekStats!=null && lastWeekStats!=null" [@enterAnimation]="show" class="week-info">
  <h2 class="title-bar thisWeek">This Week : {{thisweekstr}}</h2>
  <div class="mobChart mobChartmargin">
    <chart [type]="type" [data]='weekdata' [options]="weekoptions"></chart>
  </div>
</div>
<br>