<div id="footer" class="ui stackable grid">
    <p id="feedbk" class="five wide column">Any feedback? Need a spot? Hmu on Linked<a href="https://ca.linkedin.com/in/liam-duncan-782211120" target="0"><i class="linkedin square icon"></i></a></p>
    <p class="six wide column">
        All data collected from <a class="link-text" href="https://twitter.com/WesternWeightRm" target="0">@WesternWeightRM</a>        and <a class="link-text" href="https://twitter.com/Western_Rec" target="0">@Western_Rec</a>
    </p>
    <p id="by" class="five wide column">Created by <a href="http://www.lmdncn.me" target="0"><strong>Liam Duncan</strong></a>,<a href="http://brandonassing.me" target="0"><strong> Brandon Assing</strong></a>, and <a href="http://henrytran.me" target="0"><strong>Henry Tran</strong></a></p>
</div>