#footer {
    background-color: #4F2D82;
    padding: 20px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.link-text {
    color: white;
    font-weight: bolder;
}

#by {
    /*text-align: left;*/
}

#feedbk {
    /*text-align: left;*/
}

#footer p {
    padding: 10px;
    margin: 0;
}

i {
    font-size: 1.5rem;
    position: relative;
    top: 2px;
}

a {
    color: white;
}
#hoursbox h5{
    margin: 0;
}

#hoursbox p{
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}

@media only screen and (max-device-width: 1100px) {
    #feedbk {
        text-align: center;
    }
    #by {
        text-align: center;
    }
    #footer{
        font-size: 0.8rem;        
    }
}