<div id="footer" class="ui stackable grid">
    <div class="five wide column">
        <p id="feedbk">Any feedback? Need a spot? Hmu on Linked<a href="https://ca.linkedin.com/in/liam-duncan-782211120" target="0"><i class="linkedin square icon"></i></a></p>
        <p id="by">Created by <a href="http://www.lmdncn.me" target="0"><strong>Liam Duncan</strong></a>,
            <a href="http://brandonassing.me" target="0"><strong> Brandon Assing</strong></a>, and
            <a href="http://henrytran.me"
                target="0"><strong>Henry Tran</strong></a>
        </p>
    </div>
    <div class="six wide column">
        <p>All data collected from <a class="link-text" href="https://twitter.com/WesternWeightRm" target="0">@WesternWeightRM</a>            and <a class="link-text" href="https://twitter.com/Western_Rec" target="0">@Western_Rec</a>
        </p>
    </div>
    <a href="http://www.uwo.ca/campusrec/" target="_0" class="five wide column" id="hoursbox" *ngIf="hoursService.hours!=null" >
        <h5>Hours</h5>
        <p>Monday: {{hoursService.hours.monO.hour}} {{hoursService.hours.monO.f}} - {{hoursService.hours.monC.hour}} {{hoursService.hours.monC.f}}</p>
        <p>Tuesday: {{hoursService.hours.tueO.hour}} {{hoursService.hours.tueO.f}} - {{hoursService.hours.tuesC.hour}} {{hoursService.hours.tuesC.f}}</p>
        <p>Wednesday: {{hoursService.hours.wedO.hour}} {{hoursService.hours.wedO.f}} - {{hoursService.hours.wedC.hour}} {{hoursService.hours.wedC.f}}</p>
        <p>Thursday: {{hoursService.hours.thuO.hour}} {{hoursService.hours.thuO.f}} - {{hoursService.hours.thuC.hour}} {{hoursService.hours.thuC.f}}</p>
        <p>Friday: {{hoursService.hours.friO.hour}} {{hoursService.hours.friO.f}} - {{hoursService.hours.friC.hour}} {{hoursService.hours.friC.f}}</p>
        <p>Saturday: {{hoursService.hours.satO.hour}} {{hoursService.hours.satO.f}} - {{hoursService.hours.satC.hour}} {{hoursService.hours.satC.f}}</p>
        <p>Sunday: {{hoursService.hours.sunO.hour}} {{hoursService.hours.sunO.f}} - {{hoursService.hours.sunC.hour}} {{hoursService.hours.sunC.f}}</p>
    </a>
</div>