#footer {
    background-color: #4E2583;
    width: 100%;
    text-align: center;
    padding: 20px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
.link-text{
    color:white;
}