chart {
    width: 90%;
    margin: auto;
}

.scrollX {
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 120px;
    white-space: nowrap;
     
}

.scrollX h1, .scrollX div {
    display: inline-block;
}