<div *ngIf="todayStats!=null" class="today-util">
  <div class="ui statistic">
    <div class="label">
      Current Headcount:
    </div>
    <div class="value">
      {{todayStats[0].count}}
    </div>
  </div>
</div>
<div class="ui feed two column doubling stackable grid">
  <div class="three wide column">
    <h1>Today's History</h1>
    <div *ngFor="let s of todayStats" class="event">
      <div class="label">
      </div>
      <div class="content">
        <div class="summary">
          <a class="user">
          Headcount: 
        </a> <strong>{{s.count}}</strong>
          <div class="date">
            {{s.date | dateFormat}}
          </div>
          <br/>
        </div>
      </div>
    </div>
  </div>
  <div class="thirteen wide column">
    <chart *ngIf="thisWeekStats!=null"  [type]="type" [data]='data' [options]="options"></chart>
  </div>

</div>