<div *ngIf="todayStats!=null" class="today-util">
  <div *ngIf="todayStats[0].count>=0" class="ui statistic">
    <div class="label">
      Current Headcount:
    </div>
    <div class="value">
      {{todayStats[todayStats.length-1].count}}
    </div>
  </div>
  <div *ngIf="todayStats!=null && todayStats[0].count==-1">
    <h2>Currently Closed</h2>
  </div>
</div>
<div *ngIf="todayStats!=null && todayStats[0].count>=0">
  <div class="scrollX">
    <h1>Today's History</h1>
    <div *ngFor="let s of todayStatsR" class="ui statistic">
      <div class="value">
        {{s.count}}
      </div>
      <div class="label">
        {{s.date | dateFormat}}
      </div>
    </div>
  </div>
  <div class="">
    <chart *ngIf="thisTimeLastWeek!=null && todayStats!=null" [type]="type" [data]='daydata' [options]="dayoptions"></chart>
  </div>
</div>
<div *ngIf="todayStats!=null && todayStats[0].count>0">
  <chart *ngIf="thisWeekStats!=null && lastWeekStats!=null" [type]="type" [data]='weekdata' [options]="weekoptions"></chart>
</div>
<!-- Closed View -->
<div *ngIf="todayStats!=null && todayStats[0].count==-1" class="">
  <chart *ngIf="thisWeekStats!=null && lastWeekStats!=null" [type]="type" [data]='weekdata' [options]="weekoptions"></chart>
</div>