h1 {
    text-align: center;
    color: #4E2583;
    margin: 10px;
}

h2 {
    text-align: center;
    color: #696969;
    margin: 10px;
}

#header-text {
    padding: 10px;
    background-color: #f1f1f1;
}