<div id="bkgrnd">
    <div id="header-text">
        <h1>Western University</h1>
        <h2>Recreation Center Statistics</h2>
    </div>
    <div (click)="helpme()" class="ui label" id="feedback">
        <p>What does this all mean? Help!</p>
    </div>
    <a href="http://www.uwo.ca/campusrec/" target="_0" id="hoursToday" class="ui label">
        <p>{{DOW}} Hours: {{hoursService.open}} - {{hoursService.close}}</p>
    </a>
    <div *ngIf="help" [@enterAnimation]="show" id="helptext">
        <p><b>Lost in all the data?</b><br> Simply select the tab on the navigation bar that you are interested in. Then view
            all the attendance stats of that room/activity!
        </p>
        <p>
            <b>
            What is the "Projected" gray graph?
        </b><br> The projected graph is an estimate of how busy it is going to be. Projections are made daily
            using the past recorded data.<br>
            <b>*Note*</b> That if the purple graph (today's real time data) is trending slightly below the projected line,
            it will probably slightly quieter than the projection suggests!
        </p>
         <p>
            <b>
            What's with the futuristic gray numbers?
        </b><br> These are also estimates of how busy it is going to be.<br>
            <b>*Note*</b> Refer to note above^
        </p>
        <p>
            <b>IMS :</b> Stands for Intramural Sport, suggesting that gym is probably unavailable for drop in sport.
        </p>
        <div (click)="helpme()" class="ui animated button" tabindex="0">
            <div class="visible content">Got it!</div>
            <div class="hidden content">
                <i class="check icon"></i>
            </div>
        </div>
        <p>
            <b>Mobile version of site coming soon!</b>
        </p>
    </div>
</div>