<!-- TODO: change style attributes to css. Not working for some reason??? -->
<div id="navbar" class="ui stackable fluid six item menu">
  <a routerLink="WeightRoom" [routerLinkActive]="['active']" class="item">
    <span class="nav-text">Weight Room</span>
    <div *ngIf="!closed"  class="ui label">{{WRCurrentCount}}</div>
    <div *ngIf="closed"  class="ui label">Closed</div>
  </a>
  <a routerLink="CardioMachines" [routerLinkActive]="['active']" class="item">
    <span class="nav-text">Cardio Machines</span>
    <div *ngIf="!closed" class="ui label">{{CMCurrentCount}}</div>
    <div *ngIf="closed"  class="ui label">Closed</div>
  </a>
  <a routerLink="Basketball" [routerLinkActive]="['active']" class="item">
    <span class="nav-text">Basketball</span>
    <div *ngIf="!closed" class="ui label">{{BBALLCurrentCount}}</div>
    <div *ngIf="closed"  class="ui label">Closed</div>
  </a>
  <a routerLink="Volleyball" [routerLinkActive]="['active']" class="item">
    <span class="nav-text">Volleyball</span>
    <div *ngIf="!closed" class="ui label">{{VBALLCurrentCount}}</div>
    <div *ngIf="closed"  class="ui label">Closed</div>
  </a>
  <a routerLink="Badminton" [routerLinkActive]="['active']" class="item">
    <span class="nav-text">Badminton</span>
    <div *ngIf="!closed" class="ui label">{{BDMTCurrentCount}}</div>
    <div *ngIf="closed"  class="ui label">Closed</div>
  </a>
  <a routerLink="Futsal" [routerLinkActive]="['active']" class="item">
    <span class="nav-text">Futsal</span>
    <div *ngIf="!closed" class="ui label">{{FUTSCurrentCount}}</div>
    <div *ngIf="closed"  class="ui label">Closed</div>
  </a>
</div>